/* Aplica para background del body del archivo galeria.html
debe aplicarse por aparte en este archivo solo para este id*/
#body-de-galeria {
  margin: 0;
  background: url(../images/Background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
